<table style="width: 100%">
  @for (row of currentBoardingGroups(0); track $index) {
  <tr>
    <td style="width: 250px"></td>
    @for (order of boardingOrder(); track $index) {
    <td
      [id]="getID(row, order)"
      style="
        border: 1px solid black;
        width: 50px;
        height: 50px;
        text-align: center;
        vertical-align: middle;
      "
    >
      {{ order }}
    </td>
    }
    <td>{{ row }}</td>
  </tr>
  }
</table>

<div
  style="
    position: absolute;
    top: 10px;
    left: 10px;

    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.1);
  "
  id="standby-square"
></div>

<div
  style="
    position: absolute;
    top: -10px;
    right: -200px;
    outline: 1px solid firebrick;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.1);
  "
  id="lane-A-complete"
></div>

<div
  style="
    position: absolute;
    top: 20px;
    right: -200px;
    outline: 1px solid firebrick;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.1);
  "
  id="lane-B-complete"
></div>
